body{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}
.cabecalho{
    column-count: 2;
    background-color: black;   
}
.logo img{
    height: 80px;
    width: auto;
    display: block;
    margin-left: 30px;
    margin-right: auto;
    
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    text-align: right;
}
li{
    display: inline-flex;
}
li a, .titulo-smenu{
    display: inline-block;
    color: pink;
    padding: 1px 10px;
    text-decoration: none;
}
li a:hover, .sunmenu:hover .titulo-smenu{
    background-color: pink;
    color: white;
}
li.submenu{
    display: inline-block;
}
.lista-itens{
    display: none;
    position: absolute;
    background-color: lightgrey;
    min-width: fit-content;
    box-shadow: 0px 8px 16px 0px darkgray;
}
.lista-itens a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.lista-itens a:hover{
    background-color: navy;
    color: white;
}
.submenu:hover .lista-itens{
    display: block;
}
.destaque1{
    background-image: url(../imgs/tocadecetim_paisagem.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    padding-top: 300px;
    color: white;
    margin-left: auto;
    margin-right: auto;
}
.destaque1 a{
    color: black;
    background-color: pink;
    background-size: 20px 20px;
    text-decoration: none;
    display: block;
}
.coluna-1 a:hover{
    background-color: yellow;
    color: navy;
}
.coluna-3{
    column-count: 3;
}
.imagem-descr img{
    width: 50;
    height: auto;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.destaque2{
    background-image: url(../imgs/tocadecetim_paisagem.jpeg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 100px;
    padding-bottom: 100px;
    color: yellow;
    font-weight: bolder;
}
.destaque2 h1{
    text-shadow: 3px 3px 0px 0px yellowgreen;
}
.rodape{
    background-color: black;
    background-position: fixed;
    color: pink;
    padding-top: 25px;
    padding-bottom: 25px;
}
.img_cetim img{
    height: 300px;
    width: 300px;

}
