body{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    margin: 0%;
}
.cabecalho{
    column-count: 2;
    background-color: black;   
}
.logo img{
    height: 200px;
    width: auto;
    display: block;
    margin-left: 30px;
    margin-right: auto;
    
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    text-align: right;
}
li{
    display: inline-flex;
}
li a, .titulo-smenu{
    display: inline-block;
    color: pink;
    padding: 1px 10px;
    text-decoration: none;
}
li a:hover, .sunmenu:hover .titulo-smenu{
    background-color: pink;
    color: black;
}
li.submenu{
    display: inline-block;
}
.lista-itens{
    display: none;
    position: absolute;
    background-color: lightgrey;
    min-width: fit-content;
    box-shadow: 0px 8px 16px 0px darkgray;
}
.lista-itens a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.lista-itens a:hover{
    background-color: pink;
    color: black;
}
.submenu:hover .lista-itens{
    display: block;
}
.destaque1{
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 20px;
    max-width: 100%;
    padding: 10px;
    margin: auto;
    background-color: black;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.intro h1{
    color: pink;
    text-align: left;
    margin: auto;
    margin-left: 20px;
    font-size: 30px;
}
.intro p{
    color: white;
    text-align: left;
    margin: auto;
    font-size: 20px;
    margin-left: 20px;  
    line-height: 0.7cm;  

}
.lateral > div{
    flex-direction: 1 0 200px;
    margin: 0px 20px;
}
.lateral h1{
    color: pink;
    text-align: right;
    margin: auto;
    margin-right: 30px;
    font-size: 15px;
}
.lateral img{
    display: block;
    max-width: 300px;
    max-height: 130px;
    margin: auto;
    border: inset;
    border-color: pink;
}


/* .coluna-1 a:hover{
    background-color: yellow;
    color: navy;
} */
.imagem-descr img{
    display: block;
    max-width: 300px;
    max-height: 130px;
    margin: auto;
}
.produtos2{
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: auto;
}
.produtos2 > div{
    flex: 1 1 250px;
    margin: 10px;
}
.btn{
    padding: 10px 10px;
    color: black;
    background: pink;
    border: 20px;
    border-radius: 10px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    margin-top: 10px;
    margin-inline: 150px;
}
.btn a{ 
    color: black;
    text-decoration: none;
    display: block;
}
.btn:hover{
    background: palevioletred;
    transition: background 1s;
}
.destaque2{
    background-image: url(../imgs/tocadecetim_paisagem.jpeg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 100px;
    padding-bottom: 100px;
    color: yellow;
    font-weight: bolder;
}
.destaque2 h1{
    text-shadow: 3px 3px 0px 0px yellowgreen;
}
.rodape{
    background-color: black;
    background-position: fixed;
    color: pink;
    padding-top: 25px;
    padding-bottom: 25px;
    
}
.banner_Cetim {
    width: 100%;
    min-height: 475px;
}

.img_cetim {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    flex-direction: row;
}

.container_produto {
    display: flex;
    justify-content: center;
    
}

.item{
    margin-left: 20px;
    margin-right: 20px;
}
.produ{
    display: flex;
    flex-direction: row;
}
.prod_desc{
    width: 300px;
}
.img_cetim img{
    border: 1px solid black;
    border-radius: 10px;
    height: 300px;
    width: 300px;
}
.img_item{
    width: 300px;
}
.criadora{
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 20px;
    max-width: 800px;
    margin: auto;
}

a {
    color: #3b4241; 
    text-decoration: none; 
    transition: color 0.3s ease; 
}


a:hover {
    color: #2d5249; 
}